// Styles for IE 8 and lower.


// Compass declaration adding support for IE8
$browser-minimum-versions: (
  'ie': "8"
);
 
// Force the breakpoint mixin to discard all media queries except ones with
// $no-query set to true.
$breakpoint-no-queries : true;
$breakpoint-no-query-fallbacks : true;
 
@import "styles";