//
// Layout
//


// Sidebar first
.sidebar-first {

	// Content
  #content {
		margin-bottom: em(20px);

	  @include breakpoint($bp-medium, $no-query: true) {   
	    @include grid-span(6, 3);

			margin-bottom: 0;
	  }

	  @include breakpoint($bp-large, $no-query: true) {   
	    @include grid-span(9, 4);
	  }
  }

	// Sidebar first
  #sidebar-first {
		@include breakpoint($bp-medium, $no-query: false) {   
	    @include grid-span(2, 1);
	  }

	  @include breakpoint($bp-large, $no-query: true) {   
	    @include grid-span(3, 1);
	  }
  }

	// Sidebar second
  #sidebar-second {
  	display: none;
  }
}


// Sidebar second
.sidebar-second {

	// Content
  #content {
  	margin-bottom: em(20px);

		@include breakpoint($bp-medium, $no-query: true) {   
	    @include grid-span(6, 1);

	    margin-bottom: 0;
	  }

	  @include breakpoint($bp-large, $no-query: true) {   
	    @include grid-span(9, 1);
	  }
  }

	// Sidebar first
  #sidebar-first {
  	display: none;
  }

	// Sidebar second
  #sidebar-second {
		@include breakpoint($bp-medium, $no-query: false) {   
	    @include grid-span(2, 7);
	  }

	  @include breakpoint($bp-large, $no-query: true) {   
	    @include grid-span(3, 10);
	  }
  }
}


// Two sidebars
.two-sidebars {

	// Content
  #content {
		margin-bottom: em(20px);

	  @include breakpoint($bp-medium, $no-query: true) {   
	    @include grid-span(5, 4);
	  }

	  @include breakpoint($bp-large, $no-query: true) {   
	    @include grid-span(6, 4);
			
			margin-bottom: 0;
	  }
  }

  // Sidebar first
  #sidebar-first {
  	margin-bottom: em(20px);

		@include breakpoint($bp-medium, $no-query: true) {   
	    @include grid-span(3, 1);

	    margin-bottom: 0;
	  }

		@include breakpoint($bp-large, $no-query: true) {   
	    @include grid-span(3, 1);
	  }
  }

  // Sidebar second
  #sidebar-second {
  	clear: both;
  	
	  @include breakpoint($bp-large, $no-query: true) {   
	    @include grid-span(3, 10);
	  }
  }
}
