//
// Page
//


// HTML
html {
}


// Body
body {
  @include font-size($base__font-size_integer);

  background: $white;
  color: $black;
  font-family: $font-body;
  line-height: ($base__line-height/$base__font-size);
}


// Page
#page {
}


// Header
#header {
  @extend %wrapper;

  margin-bottom: em(20px);
  padding-top: em(20px);
}


// Logo wrapper
#header-logo {
  margin-bottom: em(20px);
}


// Logo
#logo {

  // Image
  img {
    display: block;
  }
}


// Navigation
#navigation {
  @extend %region;
}


// Preface
#preface {
  @extend %region;
  @extend %wrapper;

  margin-bottom: em(20px);
}


// Main
#main {
  @extend %wrapper;

  @include clearfix;

  margin-bottom: em(20px);
}


// Content
#content {
  @extend %region;
}


// Sidebar first
#sidebar-first {
  @extend %region;
}


// Sidebar second
#sidebar-second {
  @extend %region;
}


// Postscript
#postscript {
  @extend %region;
  @extend %wrapper;

  margin-bottom: em(20px);
}


// Footer
footer {
  @extend %region;
  @extend %wrapper;
}
