//
// Page
//


// HTML
html {
	background: $white;
  color: $black;
  font-family: $font-body;
}


// Body
body {
}


// HTML + Body
html, 
body {
	margin: 0;
	padding: 0;
}


// Page
#page {
}


// Inner
.inner {
  @extend %wrapper;
}


// Header
#header {
  margin-bottom: em(20px);
  padding-top: em(20px);
  
  @extend %wrapper;
}


// Logo wrapper
#header-logo {
  margin-bottom: em(20px);
}


// Logo
#logo {  
  img {
    display: block;
  }
}


// Navigation
#navigation {
  @extend %region;
}


// Preface
#preface {
  margin-bottom: em(20px);

  @extend %region;
  @extend %wrapper;
}


// Main
#main {
  margin-bottom: em(20px);

  @extend %clearfix;
  @extend %wrapper;
}


// Content
#content {
  @extend %region;
}


// Sidebar first
#sidebar-first {
  @extend %region;
}


// Sidebar second
#sidebar-second {
  @extend %region;
}


// Postscript
#postscript {
  margin-bottom: em(20px);

  @extend %region;
  @extend %wrapper;
}


// Footer
footer {
  @extend %region;
  @extend %wrapper;
}
