//
// Buttons
//


// Default button style
a.button:link,
a.button:visited,
.form-submit {
	@extend %button;

	&:hover,
	&:focus,
	&:active {
	}
}


// Button - Primary
.button-primary {
	@extend %button;
	@extend %button-primary;
}


// Button - Secondary
.button-secondary {
	@extend %button;
	@extend %button-secondary;
}

