//
// Icons
//

.icon {
	display: block;
}

// Image replacement
.ir {
  @extend %imgrep;
}


// Icon - Email
.icon-email {
  @include sprite($email);  
}


// Icon - User
.icon-user {
  @include sprite($user);  
}


// Icon - Caret
.icon-caret {
	@include svg-bg('carat-down', 'other');

	display: block;
	height: 9px;
	width: 14px;
}


// Icon - Success
.icon-success {
	@include svg-bg('message-success', 'other');

	display: block;
	height: 22px;
	width: 22px;
}
