//
// Custom extends
//


// Reset lists
%resetlist {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}


// Inline list
%inlinelist {
  li {
    display: inline;
  }
}


// Image replacement
%imgrep {
  background-color: transparent;
  border: 0;
  overflow: hidden;

  // IE 6/7 fallback
  *text-indent: -9999em;

  &:before {
    content: "";
    display: block;
    height: 100%;
    width: 0;
  }
}


// Vertical align
%vertical-align {
  position: relative;
  top: 50%;

  // Transform
  @include transform(translateY(-50%))
}


// Wrapper
%wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}


// Buttons
%button {
  color: $white;
  display: inline-block;
  font-weight: 700;
  letter-spacing: .02em;
  line-height: 100%;
  padding: em(10px) em(20px);
  text-decoration: none;
  white-space: nowrap;

  @include border-radius(5px);
  @include box-shadow(0 -3px 0 rgba($black, .25) inset);

  // Transition
  @include transition-property(background);
  @include transition-duration(.3s);
  @include transition-timing-function(ease-in-out);

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }
}


// Button - Primary
%button-primary {
  background: #f47d43;

  &:hover,
  &:focus,
  &:active {
    background: #c7693d;
  }
}


// Button - Secondary
%button-secondary {
  @include rgba-background(rgba(green, .5));

  &:hover,
  &:focus,
  &:active {
    @include rgba-background(rgba(green, .75));
  }
}


// Regions
%region {
  background: #e8e8e8;
  padding: em(10px);
}


// Horizontal rule
%horizontalrule {
  border-bottom: 1px solid #ccc;

  @include box-shadow(0px 1px 0px 0px rgba($white, .75));
}
