//
// Blocks
//


// Block
.block {
  margin-bottom: em(25px);
}


// Block title
h2.block-title {
  color: $gray-50;
	font-size: em(24px);
	margin-bottom: em(15px);

  @include breakpoint($bp-xlarge, $no-query: true) {
  	color: $gray-100;
  }
}
